*{
	margin: 0;
	padding: 0;
}

:root{
--text: #040403;
--boxes: #5b7553;	
--head: #8eb897;	
--about: #c3e8bd;	
--contact: #9ddbad;	
}

body{
	font-family: 'Nunito', sans-serif;
}

#header, #first{
	background-color: var(--head);
}

#header{
	height: 3.65rem;
	display: flex;
	justify-content: space-around;
	border: 1px solid var(--boxes);
	align-items: center;
}

#header a{
	color: var(--text);
	text-decoration: none;
	margin: 0 15px;
}

#first{
	height: calc(100vh - 3.65rem);
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}

#first a{
	color: #fff;
	background-color: var(--text);
	border-radius: 20px;
	padding: 4px 10px;
	text-decoration: none;
}

#first h1{
	margin-bottom: 16px;
	font-size: 2.5rem;
}

#img1{
	border: 1px solid var(--boxes);
	height: 350px;
	width: 350px;
}

#about, #projects{
	background-color: var(--about);
	border: 1px solid var(--boxes); 
}

#contact{
	background-color: var(--contact);
	border: 1px solid var(--boxes);
}

main section{
	height: 100vh;
}

#about{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#img2{
	border: 1px solid var(--boxes);
	height: 250px;
	width: 250px;
}